# ConnectionStrings
ConnectionStrings__UserDatabase=Server=.\SQLEXPRESS;Database=WebApplicationUsers;Trusted_Connection=True;TrustServerCertificate=True
ConnectionStrings__ElectronicQueue=Server=.\SQLEXPRESS;Database=ElectronicQueueProf;Trusted_Connection=True;TrustServerCertificate=True

# JWT
AppSettings__Token=CHANGE_ME_LONG_SECRET_KEY_FOR_HS512
AppSettings__Issuer=MyApp
AppSettings__Audience=MyAudience

# SMTP
Email__SmtpHost=localhost
Email__SmtpPort=1025
Email__SmtpUser=
Email__SmtpPass=
Email__From=test@myapp.local
Email__EnableSsl=false
