MSSQL_SA_PASSWORD=YourStrong!Passw0rd

ConnectionStrings__UserDatabase=Server=mssql,1433;Database=UserDb;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True
ConnectionStrings__ElectronicQueue=Server=mssql,1433;Database=ElectronicQueueProf;User Id=sa;Password=YourStrong!Passw0rd;TrustServerCertificate=True

AppSettings__Token=SUPER_ULTRA_SECRET_KEY_123_SUPER_LONG_SECRET_KEY_FOR_HS512_1234567890
AppSettings__Issuer=MyApp
AppSettings__Audience=MyAudience

Email__SmtpHost=mailhog
Email__SmtpPort=1025
Email__SmtpUser=
Email__SmtpPass=
Email__From=noreply@local.test
Email__EnableSsl=false

DOCKER_BOOTSTRAP_ADMIN=false
DOCKER_SKIP_EF_MIGRATE=false

DOCKER_BOOTSTRAP_ADMIN_EMAIL=admin@local.test
DOCKER_BOOTSTRAP_ADMIN_PASSWORD=Admin123!
