* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--main-bg-color);
    color: var(--text-color);
    min-height: 100vh;
}

